@inherits HomeBase

@if(this.IsPageAdminParameter)
{
    <p class="text">
        <a class="btn btn_primary btn_sm btn_create-" href="@PageRoute.AdminCreate">
            Create
        </a>
    </p>
}

<div class="small_screen_container zero_auto">
    <div class="container-fluid">
        <div class="row g-0">
            <UIEntityRepeater TEntity="ToDoItem" Entities="@this.EntitiesParameter">
                <Entity Context="item">
                    <div class="col-sm-6">
                        <ItemContainer EntityParameter="@item" IsCrudParameter="@this.IsCrudParameter" />
                    </div>
                </Entity>
            </UIEntityRepeater>
        </div>
    </div>
</div>

<div class="large_screen_container zero_auto">
    <div class="container-fluid table-responsive">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Done</th>

                    @if(this.IsCrudParameter)
                    {
                        <th>Detail</th>
                        <th>Edit</th>
                        <th>X</th>
                    }

                </tr>
            </thead>
            <tbody>
                <UIEntityRepeater TEntity="ToDoItem" Entities="@this.EntitiesParameter">
                    <Entity Context="item">
                        <TableData EntityParameter="@item" IsCrudParameter="@this.IsCrudParameter" />
                    </Entity>
                </UIEntityRepeater>
            </tbody>
        </table>
    </div>
</div>
