@inherits UIEntityBase

<Container UIEntityParameter="@this.EntityParameter">

    <tr>
        <td>
            <p>@this.EntryId</p>
        </td>
        <td>
            <p>@this.EntityParameter.Title</p>
        </td>
        <td>
            <p>
                @this.IsDone
            </p>
        </td>

        @if(this.IsCrudParameter)
        {
            this.UrlDetail = $"{PageRoute.S_AdminDetails}/{this.EntityParameter.Id}";
            this.UrlEdit = $"{PageRoute.S_AdminUpdate}/{this.EntityParameter.Id}";
            this.UrlDelete = $"{PageRoute.S_AdminDelete}/{this.EntityParameter.Id}";

            <th>
                <a class="btn btn_theme_b btn_sm" href="@this.UrlDetail">
                    Detail
                </a>
            </th>
            <th>
                <a class="btn btn_theme_b btn_sm" href="@this.UrlEdit">
                    Edit
                </a>
            </th>
            <th>
                <a class="btn btn_danger btn_sm" href="@this.UrlDelete">
                    X
                </a>
            </th>
        }
    </tr>

</Container>
