@page "/Admin/Create"

@inherits ItemBase

<Banner BannerTitleParameter="@this.BannerTitleValue" AppNameParameter="@this.AppNameValue" />

<div class="container">
    <h5 class="text_center">@this.FormTitle</h5>
    <p>Add entries to create a list of tasks to do. After adding to the list you can check and remove what you do not wish to save. You can even undo and redo operations. When you have completed your list click Save to store your entries to the database.</p>

    <div class="EditForm">
        <EditForm Model="@this.Item" OnValidSubmit="@this.AddItem">
            <DataAnnotationsValidator />
            <input type="hidden" @bind="this.Item.Id" />

            <div class="form_group">
                <label for="Title" class="control-label control_label">Entry</label>
                <InputText @bind-Value="this.Item.Title" class="form_control" placeholder="Add Entry" />
                <ValidationMessage For="@(() => this.Item.Title)" />
            </div>

            <div class="form_group">
                <button type="button" class="btn btn_theme_b btn_sm margin_bottom_10" disabled="@(!this.ToDoItemService.CanUndo)" @onclick="this.ToDoItemService.Undo">Undo</button>
                <button type="button" class="btn btn_theme_b btn_sm margin_bottom_10" disabled="@(!this.ToDoItemService.CanRedo)" @onclick="this.ToDoItemService.Redo">Redo</button>
                <button type="button" class="btn btn_danger btn_sm margin_bottom_10" disabled="@(!this.ToDoItemService.CanRemove)" @onclick="this.ToDoItemService.RemoveDone">Remove</button>

                <button type="submit" class="btn btn_primary btn_sm margin_bottom_10">Add Entry</button>
                <button type="button" class="btn btn_primary btn_sm margin_bottom_10" @onclick="this.InsertAsync">Save</button>
            </div>
        </EditForm>

        <p>A list of entries you make now will appear below.</p>
        <div class="row">
            <div class="col">Entry</div>
            <div class="col">Done</div>
        </div>
        @foreach(var item in this.ToDoItemService.ToDoItems)
        {
            <div class="row">
                <div class="col"><p>@item.Title</p></div>
                <div class="col"><input type="checkbox" @bind="@item.IsDone" /></div>
            </div>
        }
    </div>
</div>

<div class="page-top">
    <NavLink href="@PageRoute.AdminCreate" class="top"></NavLink>
</div>
