@inherits UIEntityBase

<Container UIEntityParameter="@this.EntityParameter">

    <tr class="@(this.IsCrudParameter ? "grid_col_repeat_6_1fr" : "grid_col_repeat_3_1fr") margin_bottom_10">
        <td>
            <p>@this.EntryId</p>
        </td>
        <td>
            <p>@this.EntityParameter.Title</p>
        </td>
        <td>
            <p>
                @this.IsDone
            </p>
        </td>

        @if(this.IsCrudParameter)
        {
            this.UrlDetail = $"{PageRoute.S_AdminDetails}/{this.EntityParameter.Id}";
            this.UrlEdit = $"{PageRoute.S_AdminUpdate}/{this.EntityParameter.Id}";
            this.UrlDelete = $"{PageRoute.S_AdminDelete}/{this.EntityParameter.Id}";

            <td>
                <a class="btn btn_theme_b btn_sm btn_min_width" href="@this.UrlDetail">
                    Detail
                </a>
            </td>
            <td>
                <a class="btn btn_theme_b btn_sm btn_min_width" href="@this.UrlEdit">
                    Edit
                </a>
            </td>
            <td>
                <a class="btn btn_danger btn_sm btn_min_width" href="@this.UrlDelete">
                    X
                </a>
            </td>
        }
    </tr>

</Container>
